@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
body{
    background-color: #e2e2e2;
    background: linear-gradient( #e2e2e2, #c9d6ff);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    width: 100%;
    justify-content: center;

}

h1{
    text-align: center;
    margin-bottom: 20px;
    color: #272262;
}

.form-container input{
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #272262 ;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;
}
.form-container{
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.form-container input:focus{
    border-bottom:2px solid #4038a0 ;
}
.form-container label{
    color: #272262;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 10px;
    transition: all .3s ease-out;
  
}
.form-container input:focus  + label,
.form-container input:valid  + label{
    font-size: 10px;
    margin-top: 0px;
    color:#4038a0;
}
button{
    background-color: #512da8;
    border-color: #512da8;
    color: #fff;
    padding:  10px 45px;
    font-weight: 600;
    font-size: 12px;
    margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-out;

}
.justy_center{
    display: flex;
    justify-content: center;
}
button:hover{
    background-color: #272262;
    color: #fff;
}
.fa-eye{
    position: absolute;
    top:13px;
    right: 10px;
    cursor: pointer;
    color: #272262;
}
.msgError{
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    display: none;
}
.msgSucess{
    text-align: center;
    color: #00bb00;
    background-color: #bbffbe;
    padding: 10px;
    border-radius: 4px;
    display: none;
}

.container_rigth{
    margin-left: 50px;
    width: 290px;
 }
 .container_rigth img{
     width: 290px;
 }
 .container_area{
     display: flex;
     background-color: #fff;
     padding: 50px;
     border-radius: 30px;
     box-shadow: 0px 5px 15px  rgba(0, 0, 0, 0.35);
     justify-content: center;
     align-items: center;
     
 }

 @media (min-width:500px) and (max-width:655px) {
    .container_area{
        width: 250px;
        justify-content: center;
        align-items: center;
        
    }
    .container_rigth img{
        width: 170px;
    }
   
 }
 @media (min-width:390px) and (max-width:499px) {
    .container_area{
        width: 250px;
        justify-content: center;
        align-items: center;

        
    }
    .container_rigth img{
       display: none;
    }
   
 }
 @media (min-width:320px) and (max-width:389px) {
    .container_area{
        width: 150px;
        justify-content: center;
        align-items: center;
        padding-left: 90px;
        
    }
    .container_rigth img{
       display: none;
    }
}